<!-- single article preview -->
<div class="py-8 px-0 rounded flex flex-wrap md:flex-no-wrap mb-10">
    <div class="w-1/3 h-64 rounded " >
        <a href="article/<%= article.slug %>"><img class="object-cover" src="/uploads/<%= article.cover %>" loading="lazy"/></a>
    </div>
    <div class="md:flex-grow w-1/2 px-5">
      <a href="article/<%= article.slug %>"><h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><%= article.title %></h2></a>
      <p class="leading-relaxed"><%= article.description %></p>
      <div class="mt-5">
        <a href="" class="text-gray-900 text-small border-2 border-gray-500 bg-gray-200 font-light py-1 px-2 rounded" >Edit article</a>
        <form action="/profile/<%= article._id %>?_method=DELETE" method="POST" class="inline">
          <button type="submit" class="text-gray-900 text-small border-2 border-red-300 bg-red-100 font-light py-1 px-2 rounded" >Delete article</button>
      </form>
      </div>
    </div>
  </div>