<%- include('partials/head', {Title: `Topic Name`}) %>
    <section>
        <div id="article-heading" class="w-1/2 mx-auto ">
            <h1 class="font-bold text-4xl"><%= article.title %></h1>
            <div id="profile-card" class="flex flex-row mt-10 items-center">
                <div class="rounded-full h-8 w-8 mr-5 cursor-pointer flex items-center justify-center overflow-hidden">
                    <a href="/author/<%= article.authorId %>"><img  class="object-cover" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" /></a>
                </div>
                <div class="text-gray-700">
                    <a href="/author/<%= article.authorId %>"><p class="font-bold">Chris Geelhoed</p></a>
                    <p><%= article.createdAt.toLocaleDateString() %></p>
                </div>
                <div class="ml-auto">
                    <p>Upvote</p>
                </div>
            </div>
        </div>

        <div id="article-body">
            <div class="w-2/3 mx-auto my-20">
                <img width="100%" src="/uploads/<%= article.cover %>" />
            </div>
            <article class="w-1/2 mx-auto ">
                <%- article.sanitizedHtml %>           
            </article>
        </div>
    </section>
<%- include('partials/footer') %>
