<%- include('partials/head', {Title: article.title, user : user}) %>
    <section>
        <div id="article-heading" class="w-1/2 mx-auto ">
            <h1 class="font-bold text-4xl"><%= article.title %></h1>
            <div id="profile-card" class="flex flex-row mt-10 items-center">
                <div class="rounded-full h-8 w-8 mr-5 cursor-pointer flex items-center justify-center overflow-hidden">
                    <a href="/author/<%= author.slug %>"><img  class="object-cover" src="<%= author.profilePicture %>" /></a>
                </div>
                <div class="text-gray-700">
                    <a href="/author/<%= author.slug %>"><p class="font-bold"><%= author.fName.charAt(0).toUpperCase() + author.fName.slice(1) %>  <%= author.lName.charAt(0).toUpperCase() + author.lName.slice(1) %></p></a>
                    <p><%= article.createdAt.toLocaleDateString() %></p>
                </div>
                <div class="ml-auto">
                    <p>Upvote</p>
                </div>
            </div>
        </div>

        <div id="article-body">
            <div class="w-2/3 mx-auto my-20">
                <img width="100%" src="/uploads/<%= article.cover %>" />
            </div>
            <article class="w-1/2 mx-auto ">
                <%- article.sanitizedHtml %>           
            </article>
        </div>
    </section>
<%- include('partials/footer') %>
